@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: 'Intel One Mono';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/IntelOneMono-Regular.woff2') format('woff2');
}
